<div class="sign-in-up__wrapper">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <br />
                <legend style="color: white">Welcome 尊敬的 <strong>{{user.name}}</strong>
                    {{#if user.gender}}
                         先生
                    {{else}}
                         女士
                    {{/if}}
                </legend>
                    <br />
                <ul>
                <br />
                <li>您的邮箱是     {{ user.email }}</li>
                <br />
                <li>您的出身日期为  {{ user.dob }}</li>
                <br />
                <li>您的手机为     {{ user.phone }}</li>
                <br />
                <li>您的地址为     {{ user.address }}</li>
                <br />
                    {{#if user.subscription}}
                        <li>您是 VIP付费用户</li>
                    {{else}}
                        <li>您是 免费用户</li>
                    {{/if}}
                </ul>
                <br />
                <a href="/logout" class="btn btn-warning" role="button">log out</a>
            </div>
        </div>
    </div> <!-- / .container -->
</div> <!-- / .sign-in-up__wrapper -->