<div class="sign-in-up__wrapper">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <legend style="color: white">Welcome <strong>{{ user.username }}</strong></legend>
                <p class="heading__sub sign-in-up-heading__sub"> Profile Information </p>
                <br />
                <ul>
                <li>您的姓名是     {{user.name}}</li>
                <!--<input type="text" value="123{{ user.name }}" readonly> -->
                <br />
                <li>您的邮箱是     {{ user.email }}</li>
                <br />
                <li>您的性别为     {{ user.gender }}</li>
                <br />
                <li>您的出身日期为  {{ user.dob }}</li>
                <br />
                <li>您的手机为     {{ user.phone }}</li>
                <br />
                <li>您的地址为     {{ user.address }}</li>
                <br />
                <li>您所在城市为宁波</li>
                </ul>
                <br />
                <a href="/logout" class="btn btn-warning" role="button">log out</a>
            </div>
        </div>
    </div> <!-- / .container -->
</div> <!-- / .sign-in-up__wrapper -->